aequitas==0.42.0
numpy==1.22.0
pandas==1.3.5
scikit-learn==1.0.2
scipy==1.7.3
Flask
selenium
pillow
SQLAlchemy
fastAPI
pytest
asgiref
beautifulsoup4
certifi
chardet
Click
Django
idna
pytz
requests
six
soupsieve
sqlparse
urllib3
boto3
keras
pygame
seaborn
plotly
nltk
gensim
theano
